.color-picker {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.color-pallet {
  width: 5em;
  overflow: hidden;
  padding: 3px;
  height: 5em;
  cursor: pointer;
  text-align: center;
  border: 2px solid white;
}
